<p>下記のリンクよりパスワードの再設定を行ってください。</p>
<p>
<a href="<%= "#{@frontend_url}/users/password_reset/#{@user.reset_token}?email=#{CGI::escape(@user.email)}" %>">パスワードを再設定する</a>
</p>
<p>このリンクの有効期限は２時間です。</p>
<p>パスワードを変更する場合は２時間以内に行ってください。</p>